[Unit]
Description=WhatsMod Bot
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/whatsmod
ExecStart=/usr/bin/node index.js
Restart=on-failure
RestartSec=30
MemoryMax=950M
MemoryHigh=850M

[Install]
WantedBy=multi-user.target
